div{
  display:block;
}
.movie-list {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); */
  /* grid-gap: 1rem; */
  /* gap: 1rem;
  justify-items: center; */
  /* border: 1px solid blue; */

  display: flex;
  /* makes page responsive */
  flex-wrap: wrap;   
  justify-content: space-around;
  gap:10px;
  padding: 20px 20px 10px 30px ;
  /* border: 20px solid red; */
}
.movie-container {
  /* height: 650px; */
  width: 340px;
  /* border: 1px solid red; */
}
.movie-poster {
  height: 640px;
  width: 340px;
  object-fit: cover;
}
.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.movie-name {
  font-size: 24px;
  margin: 0;
}
.movie-rating {
  /* border: 1px solid red; */
}
.movie-summary{
  margin-top:0px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}


.counter-container{
  display:flex;
  gap:10px;
  justify-content: flex-start;

}
.like-button, .dislike-button{
  font-size: 18px;
  width: 70px;
  height: 36px;
  border:none;
  background-color: rgb(194, 226, 244);
  border-radius:15%;
}

.add-movie-form{
  display: flex;
  flex-direction:column;
  gap:10px;
  padding:24px;
}